<% if notice %>
	<p id="notice"><%= notice %></p><!--аля сообщение о добовлении-->
<% end %>

<h2>Your Pragmatic Cart</h2><!---->
<ul>
	<% @cart.line_items.each do |item| %><!--ну и конечно же выводим выбраные товары-->
	<li><%= item.product.title %></li>
	<% end %>
</ul>
