<% if notice %>
  <p id="notice"><%= notice %></p><!--аля сообщение о добовлении-->
<% end %>

<%= render @cart %><!--
Метод render() будет осуществлять перебор элементов переданной ему коллекции.
-->
